<h3>Dodavanje</h3>
<app-tip-zvanja-form  (createEvent)="create($event)"></app-tip-zvanja-form>

<h3>Izmena</h3>
<app-tip-zvanja-form [tipZvanja]="tipZvanjaUpdate" (createEvent)="update($event)"></app-tip-zvanja-form>



<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Tip zvanja</th>
            <!-- <th>ID zvanja</th> -->
            <th>Akcije</th>
        </tr>
        <!-- Mozda bih mogao da uzmem id zvanja
        i da pretrazim novi array zvanja i ispisem ime zvanja
        -->
    </thead>
    <tbody>
        <tr *ngFor="let z of tipZvanja">
            <td>{{z.id}}</td>
            <td>{{z.naziv}}</td>
            <td><button (click)="delete(z.id)">Ukloni</button>
                <button (click)="setUpdate(z)">Izmeni</button>
                <button (click)="prikaziDetalje(z)">Detalji</button> <!-- I NACIN -->
                <a routerLink="/zvanja/{{z.id}}">Detalji</a>  <!-- II NACIN -->
            </td>
        </tr>
        
    </tbody>
</table>