<button (click)="nastavnik()">Nastavnici</button>
    <button (click)="univerziteti()">Univerziteti</button>
    <button (click)="fakulteti()">Fakulteti</button>
    <button (click)="studenti()">Studenti</button>
    <button (click)="studijskiProgram()">Studijski programi</button>
    <button (click)="mesto()">Mesta</button>
    <button (click)="adresa()">Adrese </button>
    <button (click)="autori()">autori </button>
    <button (click)="apstrakt()">apstrakt </button>
    <button (click)="ishod()">ishod </button>
    <button (click)="kategorija()">kategorija </button>
    <button (click)="predmet()">Predmeti</button>
    <button (click)="pohadjanjePredmeta()">pohadjanjePredmeta</button>
    <button (click)="zvanje()">Zvanja</button>
    <button (click)="tipZvanja()">Tip Zvanja</button>
    <button (click)="naucnaOblast()">Naucna oblast</button>
    <button (click)="naucnirad()">naucnirad</button>
    <button (click)="pohadjanjePredmeta()">Pohadjanje predmeta</button>
    <button (click)="godinaStudija()">Godina Studija</button>
    <button (click)="studentNaGodini()">Student na godini</button>
    <button (click)="tipNastave()">Tipovi Nastave</button>
    <button (click)="nastavnikNaRealizaciji()">Nastavnici na realizaciji</button>
    <button (click)="kljucnereci()">kljucnereci</button>
    <button (click)="naucnaoblast()">naucnaoblast</button>
    
    <button (click)="objavljeninaucnirad()">objavljeninaucnirad</button>
    
    