<h3>Dodavanje</h3>
<app-mesto-form [drzava]="drzava" (createEvent)="create($event)"></app-mesto-form>

<h3>Izmena</h3>
<app-mesto-form [mesto]="mestoUpdate" [drzava]="drzava" (createEvent)="update($event)"></app-mesto-form>


<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Naziv mesta</th>
            <th>Drzava</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let m of mesto">
            <td>{{m.id}}</td>
            <td>{{m.naziv}}</td>
            <td *ngIf="m.drzava != null">{{m.drzava["naziv"]}}</td>
            <!-- <td *ngIf="m.drzava != null">{{m.drzava.naziv}}</td> -->
            <td><button (click)="delete(m.id)">Ukloni</button>
                <button (click)="setUpdate(m)">Izmeni</button>
                <a routerLink="/mesta/{{m.id}}">Detalji</a>
            </td>
        </tr>
        
    </tbody>
</table>