<h3>Dodavanje</h3>
<app-student-na-godini-form (createEvent)="create($event)"></app-student-na-godini-form>

<h3>Izmena</h3>
<app-student-na-godini-form [studentNaGodini]="studentNaGodiniUpdate"  (createEvent)="update($event)"></app-student-na-godini-form>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Datum upisa</th>
            <th>Broj indeksa</th>
            <!-- <th>Ime studenta</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of studentNaGodini">
            <td>{{p.id}}</td>
            <td>{{p.datumUpisa}}</td>
            <td>{{p.brojIndeksa}}</td>
            <!-- <td *ngIf="p.student != null">{{p.student["ime"]}}</td> -->
            <td><button (click)="delete(p.id)">Ukloni</button>
                <button (click)="setUpdate(p)">Izmeni</button>
                <button (click)="prikaziDetalje(p)">Detalji</button> <!-- I NACIN -->
                <a routerLink="/studentnagodini/{{p.id}}">Detalji</a>  <!-- II NACIN -->
            </td>
        </tr>
        
    </tbody>
</table>