<form [formGroup]="form" (ngSubmit)="create()" ngNativeValidate>

    <div>
        <label>ID: <input type="number" formControlName="id" ></label>
    </div>
    <div>
        <label>Datum objave: <input type="date" formControlName="datumObjave" ></label>
    </div>
    <div>
        <label >Naucni rad:
            <select formControlName="naucniRad" >
                <option *ngFor="let a of naucniRad" [ngValue]="a">{{a.naziv}}</option>
            </select>
        </label>
    </div>
   
    <div>
        <input type="submit" value="Potvrdi">
    </div>
</form>
