<h3>Dodavanje</h3>
<app-godina-studija-form  (createEvent)="create($event)"></app-godina-studija-form>

<h3>Izmena</h3>
<app-godina-studija-form  [godinaStudija]="godinaStudijaUpdate"  (createEvent)="update($event)"></app-godina-studija-form>


<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Godina</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let f of godinaStudija">
            <td>{{f.id}}</td>
            <td>{{f.godina}}</td>
            <!-- <td *ngIf="f.studijskiProgram != null">{{f.studijskiProgram.naziv}}</td>
            <td *ngIf="f.studentNaGodini != null">{{f.studentNaGodini.datumUpisa}}</td> -->
            <td><button (click)="delete(f.id)">Ukloni</button>
                <button (click)="setUpdate(f)">Izmeni</button>
                <button (click)="prikaziDetalje(f)">Detalji</button> <!-- I NACIN -->
                <a routerLink="/godinestudija/{{f.id}}">Detalji</a>  <!-- II NACIN -->
            </td>
        </tr>
    </tbody>
</table>

