<form [formGroup]="form" (ngSubmit)="create()" ngNativeValidate>
    <div>
        <label>ID: <input type="number" formControlName="id" ></label>
    </div>
    <div>
        <label>Naziv: <input type="text" formControlName="naziv" ></label>
    </div>
    <!-- <div>
        <label >ID zvanja:
            <select formControlName="zvanje" >
                <option *ngFor="let z of zvanje" [ngValue]="z" >{{z.id}}</option>
            </select>
        </label>
    </div> -->
    <div>
        <input type="submit" value="Potvrdi">
    </div>
</form>


